:host {
    font-family: "Fira Sans";
    font-size: 16px;
}

h1 {
    cursor: pointer;
    text-align: center;
    margin: 0 0 -3px;
    font-size: 48px;
}

#json {
    max-width: 60vw;
    margin: 32px auto;
    h2 { margin: 0 }
    pre {
        margin: 8px 0 0;
        padding: 8px 16px;
        border-radius: 10px;
        word-break: break-all;
        white-space: pre-wrap;
        font-family: "Space Mono";
        color: white;
        background: rgba(0, 0, 0, .7);
    }
}